*{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
::-webkit-scrollbar{
  width: 15px;
}
::-webkit-scrollbar-track{
  background-color: #242526;
}
::-webkit-scrollbar-thumb{
  background-color: rgb(99, 99, 195);
}

.active{
  color: rgb(99, 99, 195);
}
img {
  max-width: 100%;
  max-height: 100%;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0px;
}
body {
  background-color: #0b1019;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.navLink{
  display: flex;
  align-items: center;
  position: relative;
  font-size: 35px;
}
@media (max-width:767px) {
  .navLink{
    font-size: 25px;
  }
}
.navLink a.active::after{
content: "";
position: absolute;
bottom: -10px;
width: calc(100% + 20px);
left: -10px;
height: 2px;
background-color: rgb(99, 99, 195);
}